.bigbox{
    border-style: solid;
    border-color: #466d98;
    border-width: 10px;
    border-radius: 10px;
  }

  .bpage{
      background-color: #f9e5bc ;
  }
  .head{
      background-color: darkgray;
      border-style: solid;
      border-width: 10px;
      border-color: black;
  }
  .stco{
    color: black;
  }
  .stco h3{
      color: black;
      font-size: medium;
  }
