.bigbox{
    border-style: solid;
    border-color: #00FF00;
    border-width: 10px;
    border-radius: 10px;
  }

  .bpage{
      background-color: #404040 ;
  }
  .head{
      background-color: #404040;
      border-style: solid;
      border-width: 10px;
      border-color: black;
  }
  .stco{
    color: black;
  }
  .stco h3{
      color: black;
      font-size: medium;
  }
  .sidemenu{
      padding: 15px;
      background-color: #404040;
      color: #00FF00;
  }
.sidelabel{
    color: #00FF00;
}
.para{
    color:red
}
.boot{
    font-size: 10px;
}
